* {
  margin: 0;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  box-sizing: border-box;
}

header,
nav {
  width: 100%;
}

header {
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 5px 1px;
  border-bottom: 1px solid #e2e2e2;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 990;
}

.small-icon {
  width: 20px;
  height: 20px;
}

nav {
  text-align: center;
}

.nav-left {
  float: left;
  margin: 9px 0 0 -20px;
}

.left {
  float: left;
}

.nav-center {
  float: left;
}

.nav-right {
  float: right;
}

.clear {
  clear: both;
}

.nav-right button {
  background: rgb(51, 51, 51);
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 4px;
  margin: 5px 15px 0 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

.space-cosmos {
  margin: 2px 0 0 0;
}

.nav-center::after {
  clear: both;
}

.space-cosmos a {
  font-weight: bolder;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.nav-right li a {
  font-size: 13px;
  color: rgb(51, 51, 51);
  font-weight: 600;
}

.space-cosmos a:hover {
  text-decoration: underline;
}

.subscribe {
  margin: 10px 20px 0 0;
}

.space-cosmos a {
  text-transform: uppercase;
}

.search-icon {
  margin: 0 30px 0 22px;
}

.nav-center li img {
  width: 190px;
  margin-left: 310px;
}

.page-main {
  margin-top: 80px;
}

.article-title {
  width: 470px;
  margin: 0 auto;
  color: #121212;
  line-height: 1.3;
  margin-bottom: 25px;
}

.article-title h1 {
  font-size: 36px;
  font-style: italic;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  margin-left: -60px;
}

.article-figure {
  width: 75%;
  margin: 0 auto;
}

.article-figure img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
}

.article-figure figcaption,
.article-img figcaption {
  width: 80%;
  margin: 10px 7px 0 0;
  color: #666;
  line-height: 1.25rem;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.credit {
  color: #888;
  font-size: 13px;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.article-body {
  width: 45%;
  margin: 30px auto;
}

.article-body h6 a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}

.social-icons ul li {
  list-style-type: none;
}

.social-icons ul li:first-child {
  float: left;
  margin: 27px 0 0 -40px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.social-icons ul li:last-child {
  float: right;
}

.social-icons {
  margin-bottom: 80px;
}

.article-body > p {
  margin-bottom: 0.78125rem;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 20px;
  line-height: 2rem;
  color: #333;
}

.article-body > p > a {
  color: #326891;
}

.article-body > h4 {
  font-size: 20px;
  color: #333;
  margin: 20px 0;
}

.article-addational-info {
  width: 75%;
  margin: 30px auto;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

.article-addational-info > h2 {
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  margin-bottom: 4px;
}

.article-addational-info > p {
  font-size: 14.5px;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-family: nyt-cheltenham-sh, georgia, "times new roman", times, serif;
  color: #666;
  margin-bottom: 20px;
}

.images,
.relative {
  position: relative;
}

.images img {
  width: 100%;
}

.images .cards > div {
  width: 24%;
  float: left;
  margin-bottom: 140px;
  margin-left: 1%;
}

.cards {
  position: absolute;
  top: 170px;
}

.cards > div > p {
  font-size: 13px;
  line-height: 1.2rem;
}

.bold {
  font-weight: 800;
  margin-right: 20px;
  font-size: 11px;
}

.down {
  margin-top: 15px;
}

.img-owner {
  margin: 40px 0 0 0;
}

.article-video {
  margin: 50px 0 50px 0;
}

.article-video iframe {
  width: 600px;
  height: 319px;
}

.video-desc {
  margin: 6px 7px 0 0;
  color: #666;
  font-size: 0.85rem;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.video-credit {
  line-height: 1.125rem;
  color: #888;
  font-size: 0.75rem;
}

.article-img img {
  width: 600px;
  height: 319px;
}

.article-img {
  margin: 30px 0 50px 0;
}

.article-img figcaption {
  width: 600px;
}

.article-closing {
  margin: 30px 0 0 0;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  color: rgb(102, 102, 102);
}

.article-closing a {
  color: #666;
}

.article-closing a:hover {
  text-decoration: none;
}

.social-icons-end {
  margin: 30px 0 20px 0;
}

.social-icons-end button {
  float: left;
  background-color: rgb(86, 123, 149);
  color: white;
  padding: 10px 80px;
  border: none;
  font-size: 12px;
  border-radius: 4px;
}

.social-icons-end button:hover {
  cursor: pointer;
}

.social-icons-end img {
  float: right;
  margin-top: -20px;
}

.articles {
  width: 90%;
  margin: 40px auto;
}

.extra-articles {
  width: 71%;
  border-top: 1px solid black;
  padding-top: 20px;
  float: left;
}

.extra-articles h5,
.most-popular h5 {
  font-weight: 900;
  font-size: 14px;
}

.extra-articles h5:hover {
  text-decoration: underline;
  cursor: pointer;
}

.most-popular {
  width: 27%;
  padding-top: 20px;
  border-top: 1px solid black;
  float: right;
}

.articles-box {
  width: 100%;
  height: inherit;
}

.articles-box .small-articles {
  width: 31.7%;
  float: left;
  margin: 20px 11px 10px 0;
  height: 280px;
}

.articles-box .shift {
  margin-top: 40px;
}

.articles-box .small-articles img {
  width: 100%;
}

.article-video iframe {
  border: none;
}

.small-articles figure figcaption {
  text-align: right;
  color: rgb(153, 153, 153);
  padding-bottom: 4px;
  font-size: 0.625rem;
}

.extra-content a {
  font-size: 17px;
  font-weight: 500;
  color: rgb(18, 18, 18);
  text-decoration: none;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

.extra-content p {
  font-size: 12px;
  color: #666;
  margin-top: 6px;
}

.most-popular h5 {
  margin-bottom: 20px;
  color: #333;
}

.most-popular > p {
  margin-top: 15px;
  border-top: 1px solid rgb(226, 226, 226);
  list-style: none;
  color: #333;
  padding: 10px 0;
}

.most-popular p > a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 17px;
  font-weight: 550;
  line-height: 1.5rem;
}

.most-popular p > a:hover {
  color: #666;
}

.editor-section {
  margin-top: -170px;
}

.footer-icons {
  margin-top: 1px;
  padding-top: 10px;
  border-top: 1px solid #e2e2e2;
}

.footer-icons > img {
  float: left;
  width: 190px;
}

.footer-icons a {
  float: right;
  text-decoration: none;
  color: rgb(86, 123, 149);
  font-size: 11px;
  margin-top: 10px;
}

.nyt-links > ul {
  float: left;
  width: 16.66%;
  margin-top: 15px;
  padding-bottom: 25px;
}

.nyt-links > ul:last-child {
  padding-left: 10px;
}

.nyt-links > ul:last-child li:first-child {
  margin-left: 5px;
}

.nyt-links > ul li {
  list-style-type: none;
  margin-bottom: 6px;
}

.nyt-links > ul li:first-child {
  font-weight: 700;
  font-size: 13px;
}

.nyt-links > ul li a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

.nyt-links > ul li a:hover {
  text-decoration: underline;
}

.nyt-links > .subscription {
  border-left: 0.2px solid #e2e2e2;
}

footer {
  width: 100%;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.relative > a {
  margin-left: 25px;
  font-weight: 800;
}

.nyt-links > ul > .small > a {
  font-size: 11px;
}

.nyt-links > ul > .small,
.smaller-sub {
  margin: 10px 0 10px 5px;
}

.nyt-footer {
  border-top: 1px solid #e2e2e2;
}

.nyt-footer ul {
  list-style-type: none;
  padding-top: 10px;
  width: 85%;
  margin: 0 auto;
}

.nyt-footer ul li > a {
  text-decoration: none;
  color: #666;
  font-size: 10px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.nyt-footer ul li > a:hover {
  text-decoration: underline;
}

.nyt-footer ul > li {
  display: inline-block;
  color: rgb(153, 153, 153);
  margin: 0 10px 0 0;
}
